# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# VIRTUAL ENVIRONMENT
# ==========================================

venv/
.env/

# ==========================================
# ENV FILES
# ==========================================

.env

# ==========================================
# REPORTS
# ==========================================

reports/

# ==========================================
# VS CODE
# ==========================================

.vscode/

# ==========================================
# SYSTEM FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# LOGS
# ==========================================

*.log

# ==========================================
# EXCEL TEMP FILES
# ==========================================

~$*.xlsx

# ==========================================
# PYTEST / CACHE
# ==========================================

.pytest_cache/
.cache/

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

